.App
{
  background-color: white;
}
.taskbar
{
background-color: antiquewhite;
height: 7rem;
width: 100%;
display: flex;
justify-content: space-between; /* align items at the left and right edges */
align-items: center; 
}

.logo
{
  width: 20rem;

}
li
{
  list-style: none;
  display: inline;
  padding: 1rem;
  float: left;
  font-size: larger;

}
.my-link {
  color: black;
  text-decoration: none;
  font-size: 18px;

  margin: 5px;

}


.footer
{
  margin-top: 4rem;
    height: 8rem;
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    color: #ddd4e0;
    background-color:black;
    display: flex;
    justify-content: space-around;
}
.copyrights
{
    padding-top: 2rem;
    padding-left: 25rem;
}
.details
{
  text-align: start;
}
.footer a
{
 
  text-decoration: none;
  color: white;
  font-size: small;
  
  
}